html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: inherit; /* Mantém a cor padrão do texto */
}

#home {
    padding: 100px;
    top: 0;
    width: 100%;
    background-color: rgb(215, 215, 215);
    padding: 10px;
    display: flex;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 80px !important;
    margin-left: 200px;
}

#ul {
    margin-left: auto;
}

#ul ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 800px;
}

#ul li {
    padding: 10px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

#pai-sm{
    background-color: black;
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
}

#eu img {
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 110%;
    border: 3px solid white;
}

#sobremim {
    display: flex;
}

#texto h3 {
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Kanit', sans-serif;
}

#texto p {
    margin-top: -20px;
    font-size: 20px;
    width: 80%;
    margin-left: 50px;
}

#texto {
    width: 40%;
    margin-left: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    gap: 150px;
    margin: auto;
    justify-content: center;
    margin-top: 200px;
    border-radius: 10px;
    transform: translate(8%, 30%);
}

#pai-M{
    background: rgb(0,0,0);
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
}

#pai-M h1{
    color: white;
    margin-left: 150px;
}

h1{
    margin-top: 80px;
    font-family: 'Kanit', sans-serif;
}

#butao{
    display: flex;
    text-align: right;
    position: fixed;
    bottom: 10px; /* Ajuste a posição superior conforme necessário */
    right: 10px; /* Ajuste a posição à direita conforme necessário */
}

#butao img{
    border: 3px solid white;
    border-radius: 200px;
    width: 50px;
    margin-left: auto;

}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 400px;
    border: 3px solid white;
    border-radius: 10px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    height: 4px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

#radio6:checked ~ .first{
    margin-left: -125%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    height: 4px;
    margin-top: 375px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: white;
}

#direcionamento-btn h3{
    text-align: center;
    color: white;
}

#botao{
    justify-content: center;
    display: flex;
}

#botao button{
    width: 350px;
    background-color: black;
    display: flex;
    color: white;
    border-radius: 10px;
    justify-content: center;
    border: 3px solid;
    padding: 7px;
    cursor: pointer;
}

#pai-tech{
    background: black;
    width: 100vw; /* 100% da largura da viewport */
    height: 100vh; /* 100% da altura da viewport */
}

#pai-tech h1{
    color: white;
    margin-left: 150px;
}


.projetos {
    background: black;
    padding-top: 10px;
    padding-bottom: 100px;
}

.projetos h2{
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000;
    border: 3px solid white;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-top: 20px;
}

.card img {
    height: 100px;
} 

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: white;
    margin-top: 20px;
    margin-bottom: 40px ;
}

.card-projetos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;
    margin-top: 100px;
}

#footer{
    display: flex;
    background-color: rgb(215, 215, 215);
    margin-top: 110px;
}

#footer img{
    justify-content: center;
}

#ul-2 {
    margin-right: 30px;
}

#ul-2 ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 1000px;
}

#ul-2 li {
    padding: 10px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

#redes{
    display: flex;
    justify-content: center;

}

#redes img{
    display: flex;
    width: 50px;
    padding: 10px;
    transition: all 0.2s;
}

#redes img:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.2s;
}
